body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* центр по горизонтали */
    align-items: center;     /* центр по вертикали */
    height: 100vh;
    background: #000;
}

#background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 390px;
    height: 844px;
    object-fit: fill; /* растянуть картинку без обрезки */
    z-index: 1;
}

/* Кот */
#cat {
    position: absolute;
    top: 174px;
    left: -17px;
    width: auto;
    height: auto;
    z-index: 2;
}

/* Имя питомца */
#name-bar {
    position: absolute;
    top: 575px;
    left: 95px;
    width: 200px;  /* ширина name_bar */
    height: 40px;  /* высота name_bar */
    z-index: 3;
}

#name-bar img {
    width: 100%;
    height: 100%;
    display: block;
}

/* Имя питомца по центру */
#pet-name {
    position: absolute;
    top: 50%;           /* центр по вертикали */
    left: 50%;          /* центр по горизонтали */
    transform: translate(-50%, -50%); /* центрирование по середине блока */
    font-size: 22px;
    font-weight: bold;  /* жирный текст */
    color: #244652;     /* цвет */
    text-transform: uppercase; /* большие буквы */
    white-space: nowrap; /* чтобы не переносилось */
}

/* Статусы */
.stat {
    position: absolute;
    width: 200px;
    height: 50px;
    /* достаточно для иконки + полоски */
    z-index: 3;
}

/* Иконки */
.stat .icon {
    position: absolute;
    top: 0px;
    /* иконка сверху блока */
    left: 0px;
    width: 30px;
    height: 30px;
}

/* Пустой бар */
.bar-empty {
    position: absolute;
    top: 6px;
    /* чуть ниже иконки */
    left: 28px;
    /* отступ от иконки */
    width: 200px;
    height: 10px;
    background: url('assets/ui/bar_empty.png') no-repeat;
}

/* Заполненный бар */
.bar-fill {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 10px;
    background: url('assets/ui/bar_fill.png') no-repeat;
}

/* Позиции блоков статов */
#hunger-stat {
    top: 92px;
    left: 5px;
}

#happiness-stat {
    top: 43px;
    left: 1px;
}

#energy-stat {
    top: 123px;
    left: 4px;
}

#cleanliness-stat {
    top: 73px;
    left: 4px;
}

/* Кнопки */
#buttons img {
    position: absolute;
    width: 150px;
    height: auto;
    cursor: pointer;
}

#buttons img:nth-child(1) {
    top: 632px;
    left: 23px;
}

/* feed */
#buttons img:nth-child(2) {
    top: 632px;
    left: 201px;
}

/* play */
#buttons img:nth-child(3) {
    top: 694px;
    left: 23px;
}

/* sleep */
#buttons img:nth-child(4) {
    top: 754px;
    left: 23px;
}

/* clear */
#buttons img:nth-child(5) {
    top: 694px;
    left: 201px;
}

/* name */
#buttons img:nth-child(6) {
    top: 754px;
    left: 201px;
}

/* restart */









