body {
    margin: 0;
    padding: 0;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#game-container {
    width: 390px;
    height: 844px;
    position: relative;
    overflow: hidden;
    background: url('assets/ui/background.png') no-repeat;
    background-size: cover;
}

/* Кот */
#cat {
    position: absolute;
    top: 174px;
    left: -17px;
    width: auto;
    height: auto;
    z-index: 2;
}

/* Имя питомца */
#name-bar {
    position: absolute;
    top: 564px;
    left: 80px;
    width: 200px;
    height: 40px;
    z-index: 3;
}

#name-bar img {
    width: 100%;
    height: 100%;
    display: block;
}

#pet-name {
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 22px;
    color: #282828;
}

/* Статусы */
.stat {
    position: absolute;
    width: 200px;
    height: 50px;
    /* достаточно для иконки + полоски */
    z-index: 3;
}

/* Иконки */
.stat .icon {
    position: absolute;
    top: 0px;
    /* иконка сверху блока */
    left: 0px;
    width: 30px;
    height: 30px;
}

/* Пустой бар */
.bar-empty {
    position: absolute;
    top: 6px;
    /* чуть ниже иконки */
    left: 28px;
    /* отступ от иконки */
    width: 200px;
    height: 10px;
    background: url('assets/ui/bar_empty.png') no-repeat;
}

/* Заполненный бар */
.bar-fill {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 10px;
    background: url('assets/ui/bar_fill.png') no-repeat;
}

/* Позиции блоков статов */
#hunger-stat {
    top: 92px;
    left: 5px;
}

#happiness-stat {
    top: 43px;
    left: 1px;
}

#energy-stat {
    top: 123px;
    left: 4px;
}

#cleanliness-stat {
    top: 73px;
    left: 4px;
}

/* Кнопки */
#buttons img {
    position: absolute;
    width: 150px;
    height: auto;
    cursor: pointer;
}

#buttons img:nth-child(1) {
    top: 632px;
    left: 23px;
}

/* feed */
#buttons img:nth-child(2) {
    top: 632px;
    left: 201px;
}

/* play */
#buttons img:nth-child(3) {
    top: 694px;
    left: 23px;
}

/* sleep */
#buttons img:nth-child(4) {
    top: 754px;
    left: 23px;
}

/* clear */
#buttons img:nth-child(5) {
    top: 694px;
    left: 201px;
}

/* name */
#buttons img:nth-child(6) {
    top: 754px;
    left: 201px;
}

/* restart */
